@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Share+Tech+Mono&display=swap");


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: "Share Tech Mono", monospace;
  font-size: 12px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: #e7e7e7;
  background: rgb(19, 19, 19);
}

a {
  text-decoration: none;
  color: rgb(3, 155, 155);
}

a:hover {
  color: rgba(249, 105, 14, 1);
}

ul {
  list-style: none;
}

p {
  font-size: 1.4rem;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}


.landing-page {
  width: 100%;
  height: 600px;
  background: linear-gradient(
      135deg,
      rgba(0, 64, 77, 0.9) 0%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url("images/landing-page.png") center no-repeat;
  background-size: contain;
  position: relative;
}

.main-message {
  width: 100%;
  max-width: 58rem;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.main-message h2 {
  letter-spacing: 1.2rem;
  font-size: 2rem;
  font-weight: 400;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 5s steps(27), blink 1s ease-in-out 7s infinite;
  width: 27ch;
  margin: auto;
  border-right: 4px solid rgba(255, 255, 255, 1);
}

@keyframes typing {
  75% {
    width: 0ch;
    color: rgba(249, 105, 14, 1);
  }
  100% {
    width: 27ch;
  }
}

@keyframes blink {
  0% {
    border-right: 4px solid rgba(255, 255, 255, 0);
  }
  100% {
    border-right: 4px solid rgb(194, 194, 194);
  }
}

.main-message h3 {
  font-size: 4rem;
  margin: 1rem 0;
  color: rgba(249, 105, 14, 1);
  background: linear-gradient(
    to right,
    rgba(249, 105, 14, 1) 0%,
    rgba(102, 51, 153, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-message p {
  text-transform: none;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 2;
}

.intro-btn {
  display: flex;
  justify-content: center;
}

.btn {
  margin: 0 9px;
  background: rgba(3, 155, 155);
  border-radius: 2rem;
  color: #fafafa;
  padding: 1rem 2.5rem;
  display: inline-block;
  margin-top: 2rem;
  transition: background-color 650ms;
  font-weight: 500;
  letter-spacing: 2px;
}

.btn:hover {
  color: #fafafa;
  background-color: rgba(189, 72, 0);
}

.scroll-down i {
  color: #fafafa;
  transition: color 650ms;
  margin-top: 2rem;
  font-size: 3.5rem;
}

.scroll-down i:hover {
  color: rgba(189, 72, 0);
}


.about {
  width: 100%;
  min-height: 100vh;
  max-width: 70rem;
  margin: auto;
}

.about .container {
  display: flex;
  align-items: center;
  min-height: 80vh;
}

.about-img img {
  height: 12rem;
  width: auto;
  border-radius: 50%;
  margin: 2rem;
}

.about-text-box {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}

.about-text-box h2 {
  font-size: 4rem;
  margin-bottom: 20px;
}

.about-text-box p {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  padding: 0;
  margin-bottom: 1.45rem;
}

hr {
  margin: 4rem 0;
  background: linear-gradient(
    to right,
    rgba(249, 105, 14, 1) 0%,
    rgba(102, 51, 153, 1) 100%
  );
  border: 0;
  height: 1px;
}


.title-heading {
  text-align: center;
  margin-bottom: 5rem;
}

.title-heading h2 {
  font-size: 2rem;
  margin: 0.5rem 0 1rem 0;
}

.title-heading p {
  font-family: "Poppins", sans-serif;
  margin-bottom: 5rem;
}


.tier-item {
  height: 30rem;
  padding: 3rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: default;
}

.tier-item i {
  font-size: 3.5rem;
}

.tier-item h2 {
  font-size: 2rem;
  margin: 2rem 0;
  background: linear-gradient(
    to right,
    rgba(249, 105, 14, 1) 0%,
    rgba(102, 51, 153, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tier-item p {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
}



.projects {
  padding: 3rem 0;
  min-height: 100vh;
  max-width: 70rem;
  margin: auto;
}

.has-margin-right {
  margin: 0 3rem 0 0;
}

.project-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1.45rem 5rem 1.45rem;
}

.project-img {
  flex: 1;
}

.project-description {
  flex: 1;
}

.project-description h2 {
  font-size: 2rem;
  margin: 2rem 0;
  background: linear-gradient(
    to right,
    rgba(249, 105, 14, 1) 0%,
    rgba(102, 51, 153, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.project-description p {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
}

.project-link {
  display: inline-block;
  margin: 2rem 0;
  font-size: 1.4rem;
}


.contact {
  width: 100%;
  min-height: 100vh;
  max-width: 70rem;
  margin: auto;
  padding-top: 5rem;
}

.contact h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 5rem;
}

.contact p {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  padding: 0;
  margin: 0.9rem 2rem;
}

.contact .container {
  min-height: 50vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}



footer {
  width: 100%;
  max-width: 70rem;
  margin: auto;
  padding: 2.5rem;
  color: #8a8a8a;
  text-align: center;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

@media (max-width: 750px) {
  .main-message h3 {
    font-size: 3rem;
  }
  .about .container {
    flex-direction: column;
  }
  p {
    font-size: 1.3rem;
  }
  .title-heading {
    margin: 0;
  }

  .project-item {
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
    box-shadow: 0 20px 30px 0 rgba(212, 255, 255, 0.15);
  }
  .project-img {
    width: 20rem;
  }
}

@media (max-width: 665px) {
  .main-message {
    top: 55%;
  }
  .main-message h2 {
    letter-spacing: 1rem;
    font-size: 1.5rem;
    width: 29ch;
  }

  .main-message h3 {
    font-size: 2rem;
  }

  .main-message p {
    font-size: 1.3rem;
  }
  .btn {
    border-radius: 0.9rem;
    padding: 0.9rem 0.9rem;
  }
  .about-text-box h2 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  .about-text-box p {
    margin: 0 0 2.45rem;
  }

  .title-heading h2 {
    margin-bottom: 2rem;
  }
  .title-heading p {
    font-size: 1.3rem;
  }

  .contact .container {
    flex-direction: column;
  }

  footer,
  footer p {
    font-size: 1.2rem;
  }
}

.resume {
  font-size: 2rem; 
}


